.container {
  display: block;
  width: 80%;
  max-width: 420px;
  margin: 10vh auto;
}

.TimelineItem.closed-timeline-item:first-child::before {
  top: 50%;
}

.TimelineItem.closed-timeline-item:last-child::before {
  bottom: 50%;
}

.multiline {
  white-space: pre-line;
}

.home {
  display: block;
  align-items: center;
  margin-bottom: 12px;
}

.home-link {
  display: inline-flex;
  align-items: center;
  color: var(--color-text-disabled);
  text-decoration: none;
}

.home-link:hover {
  text-decoration: none;
  color: var(--color-text-link);
}

.home-link span {
  margin-left: 6px;
}

@keyframes rotating {
  from{
      transform: rotate(360deg);
  }
  to{
      transform: rotate(0deg);
  }
}

.rotating {
  animation: rotating 2s linear infinite;
}
